# gradle

.gradle/
build/
out/
classes/
*.list

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# kotlin

.kotlin/

# secrets

secrets.gradle.kts
src/main/kotlin/xyz/meowing/vexel/OffsetTestScreen.kt
src/main/kotlin/xyz/meowing/vexel/TestScreen.kt